<main cdkScrollable id='main'>
  <aside>
    <h1>
      Exemplo de formulário
    </h1>
    <p>
      Para utilizar o formulário, basta importar os arquivos dentro da pasta <strong>form</strong> e módulos do
      app.module.
    </p>
    <code>
      <a href='https://github.com/devmagic/dynamic-content-form' target="_blank">
        <i class="fab fa-github"></i> Acessar repositório
      </a>
    </code>
  </aside>
  <section>
    <div>
      <app-form></app-form>
    </div>
  </section>
</main>